:root {
    font-size: 18px;
    --dark-maroon: #916b5e;
    --main-green: #bab78c;
    --beige: #ecdfcd;
    --grey: #686961;
    --light-grey: #879281;
    --main-background: #fbfbfb;
    --primary-ext: #fff;
    --secondary-text: black;
    font-family: 'Alata';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background-color: var(--main-background);
}

/* SHARED */

header,
footer {
    padding: 1rem;

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

footer {
    background-color: var(--dark-maroon);
    color: white;
    padding: 1rem;
}

/* HEADER */


header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--dark-maroon);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.transparent {
    background-color: transparent;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

header ul li {
    list-style: none;
}

/* MAIN */

.hero {
    height: 100vh;
    background-image: url("/images/hero.jpg");
    background-size: cover;
}

.container {
    padding: 2rem 3rem;
}

.appSection {
    padding: 3rem;
}

/* FOOTER */

footer {
    width: 100%;
}